################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
**.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
**bin/
**/obj/
obj/
**/Debug/

# NuGet
project.assets.json
project.nuget.cache
.nuget/

# Others
*.cache
*.vsidx

/CursoWebApi_ASPNETCORE/.vs/CursoWebApi_ASPNETCORE.slnx/FileContentIndex/735dcc31-d5ac-48ba-99b7-b09bf7cefb9f.vsidx
/CursoWebApi_ASPNETCORE/.vs/CursoWebApi_ASPNETCORE.slnx/v18/.suo
/CursoWebApi_ASPNETCORE/MinhaApI/bin/Debug/net8.0/Secao_2_MinhaApI.dll
/CursoWebApi_ASPNETCORE/MinhaApI/obj/Debug/net8.0/apphost.exe
/CursoWebApi_ASPNETCORE/MinhaApI/obj/Debug/net8.0/ref/Secao_2_MinhaApI.dll
/CursoWebApi_ASPNETCORE/MinhaApI/obj/Debug/net8.0/refint/Secao_2_MinhaApI.dll
/CursoWebApi_ASPNETCORE/.vs/CursoWebApi_ASPNETCORE.slnx/v18/DocumentLayout.backup.json
/CursoWebApi_ASPNETCORE/.vs/CursoWebApi_ASPNETCORE.slnx/DesignTimeBuild/.dtbcache.v2
/CursoWebApi_ASPNETCORE/.vs/CursoWebApi_ASPNETCORE.slnx/FileContentIndex/f022ac3f-2c59-4602-822c-768b0640eea3.vsidx
/CursoWebApi_ASPNETCORE/.vs/CursoWebApi_ASPNETCORE.slnx/v18/.futdcache.v2
/CursoWebApi_ASPNETCORE/MinhaApI/obj/Debug/net8.0/EndpointInfo/Secao_2_MinhaApI.json
