################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CursoWebApi_ASPNETCORE.slnx/v18/DocumentLayout.json
